.formDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ec638a;
}

.formDiv h2 {
  color: #fff;
  padding: 5px 10px;
  font-size: 25px;
}

form {
  background-color: #ec638a;
  display: flex;
}

form select {
  height: 40px;
  width: 250px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #ec638a;
  color: #fff;
  border: 1px solid #fff;
  margin: 5px;
}

form button {
  height: 40px;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid #fff;
  font-size: 20px;
}

form .formLink {
  text-decoration: none;
  color: #fff;
}
